.button {
    border: 1px solid;
    display: inline-block;
    width: 200px;
    font-size: .8em;
    text-align: center;
    padding: 5px 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    margin: 20px;
    transition: all .5s;
}